<!-- Imports polymer -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<!-- Defines element markup -->
<dom-module id="glycan-image" >
    <style>
        svg {
            max-width: 100%;
            height: auto;
            width: auto\9;
        }
        img {
            max-width: 100%;
            height: auto;
            width: auto\9;
        }
    </style>
    <template>
        <iron-ajax
            id="imageAjaxCall"
            content-type="application/json"
            handle-as="document"
            method="POST"
            on-response="handleResponse"
            on-error="handleError"
            debounce-duration="300">
        </iron-ajax>

    </template>
    <!-- Registers custom element -->
    <script>
        Polymer({
            is: 'glycan-image',
            properties:{
                notation: {
                    type: String,
                    observer: '_notationChanged'
                },
                server: String,
                structure: {
                    type: String,
                    observer: '_structureChanged'
                }
            },

            handleResponse: function(data){

                var serialXML= new window.XMLSerializer().serializeToString(data.detail.response);
                Polymer.dom(this.root).innerHTML = serialXML;
                var svgElement = this.$$("svg");
                var bbox = svgElement.getBBox();
                svgElement.setAttribute("viewBox","0 0 "+bbox.width+" "+bbox.height);
                svgElement.setAttribute("width",bbox.width);
            },

            handleError: function(){
                this._sorryImage();
            },

            _structureChanged: function(newValue) {
                this._serverCall(newValue,this.notation);
            },

            _notationChanged: function(newValue){
                this._serverCall(this.structure,newValue);
            },

            _sorryImage: function(){
                var sorryImage = this.$.sorryImage;
                if(sorryImage === null){
                    var image = document.createElement("img");
                    image.id = "sorryImage";
                    image.src = this.resolveUrl("img/sorry.jpg");
                    image.style.maxWidth = "300px";
                    Polymer.dom(this.root).appendChild(image);
                }
            },

            _serverCall: function(glycanStructure,notation){
                if(glycanStructure && notation){
                    var call = this.$.imageAjaxCall;
                    if(this.server.charAt(this.server.length - 1) === "/"){
                        call.url= this.server+"glycoUtils/utils/image/generate"
                    } else {
                        call.url= this.server+"/glycoUtils/utils/image/generate"
                    }
                    call.body = '{"glycoCtCode":"'+glycanStructure+'", "notation":"'+notation+'"}';
                    call.generateRequest();
                } else{
                    this._sorryImage();
                }
            }
        });
    </script>
</dom-module>
